<section class="prompt">

  <h1>Sign In</h1>
  <form action="/login" method="post">
    <div>
      <label for="email">Email</label>
      <input id="email" name="email" type="text" required>
    </div>
    <div>
      <label for="password">Password</label>
      <input id="password" name="password" type="password" required>
    </div>
    <button type="submit">Sign In</button>
  </form>
  <p>아이디가 없으시면 <a href="/signup">Sign Up</a>을 누르세요</p>
</section>