<section class="prompt">

  <h1>Sign In</h1>
  <form action="/login" method="post">
    <div>
      <label for="email">Email</label>
      <input id="email" name="email" type="text" required>
    </div>
    <div>
      <label for="password">password</label>
      <input id="password" name="password" type="password" required>
    </div>
    <button type="submit">제출</button>
  </form>
  <br/>
  <a href="auth/google">Sign In With Google</a>
  <p>만약 아이디가 없다면 <a href="./signup">회원가입</a>을 누르세요</p>
</section>