<section class="prompt">

  <h1>Sign Up</h1>
  <form action="/login" method="post">
    <div>
      <label for="email">Email</label>
      <input id="email" name="email" type="text" required>
    </div>
    <div>
      <label for="password">Password</label>
      <input id="password" name="password" type="password" required>
    </div>
    <button type="submit">Sign Up</button>
    
  </form>
  <p>아이디가 있으시면 <a href="/login">Sign In</a>을 누르세요</p>
</section>