<section class="prompt">
  <h1>Sign Up</h1>
  <form action="/signup" method="post">
    <div>
      <label for="email">Email</label>
      <input id='email' name='email'type="text" required>
    </div>
    <div>
      <label for="password">PassWord</label>
      <input id='password' name='password'type="password" required>
    </div>
    <button type="submit">Sign Up</button>
  </form>
  <p>이미 아이디가 있다면 <a href="/login">Sign In</a></p>
</section>